# Filepaths
Archives/
Kepler-16x/assets/minecraft/Other
Kepler-16x/assets/minecraft/textures/item/OLD
Kepler-16x/assets/minecraft/textures/item/ORIGINAL TOOLS
Kepler-16x/assets/minecraft/textures/item/SCRAPPED

# Filetypes
*.ase
*.aseprite
*.psd

# Files
desktop.ini
.markdownlint.json
