# Filepaths
Hubble 16x mint 1.19/assets/minecraft/Other
Hubble 16x mint 1.19/assets/minecraft/textures/item/OLD
Hubble 16x mint 1.19/assets/minecraft/textures/item/ORIGINAL TOOLS
Hubble 16x mint 1.19/assets/minecraft/textures/item/SCRAPPED

# Filetypes
*.ase
*.aseprite

# Files
desktop.ini
.markdownlint.json
preview.psd
preview.png
